# Ignore IDE settings.
/.idea

# Ignore dependencies
/vendor

# Drupal README files.
/web/*/README.txt

# Drupal scaffold files.
/web/.csslintrc
/web/.eslintignore
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.md
/web/autoload.php
/web/core/
/web/example.gitignore
/web/index.php
/web/modules/contrib
/web/modules/themes
/web/profiles/
/web/robots.txt
/web/themes/contrib
/web/update.php
/web/web.config

# Settings files.
/web/sites/default/settings.*.php

# Default settings and config files.
/web/sites/default/default**
/web/sites/example*
/web/sites/development.*

# Files folders
/web/sites/*/files
