<div class="tarjeta">
  {% block media %}
    <div class="tarjeta__media">
      El media va acá
    </div>
  {% endblock %}
  <div class="tarjeta__contenido">
    <h2 class="tarjeta__titulo">{{ titulo }}</h2>
    <h3 class="tarjeta__description">{{ subtitulo }}</h3>
  </div>
</div>
