<div class="tarjeta-2">
  {% block media %}
    <div class="tarjeta-2__media">
      El media va acá para la tarjeta 2
    </div>
  {% endblock %}
  <div class="tarjeta-2__contenido">
    <h2 class="tarjeta-2__titulo">{{ titulo }}</h2>
    <h3 class="tarjeta-2__description">{{ descripcion }}</h3>
  </div>
</div>
